.header{
    /* background-color: black; */
   
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-position-x: centre;
    background-size: cover;
}
#logo{
    /* border: 1px solid white; */
    margin-left: 45%;
    margin-top: 15%;
}
.header h1 {
    /* border: 1px solid white; */
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 5%;
    line-height: 1.8;
    text-align: center;
    color: white;
}
.header p{
    /* border: 1px solid white; */
    margin-left: 10%;
    margin-right: 9%;
    text-align: center;
    color: white;
}
#mouse{
    /* border: 1px solid white; */
    margin-left: 48%;
    margin-top: 12%;
    margin-bottom: 3%;
}
.about h1{
    text-align: center;
    margin-top: 2%;
}
.about p{
    text-align: center;
    line-height: 2.5;
    margin-bottom: 5%;
}